@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  outline: none;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

html{

  height: 100%;
    min-height: 100%; 
}

body {
  background-color: #2A3039;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
    min-height: 100%;
}

#map{
  height: 75%;
  background-color: #1E242C;
}

#footer{
}

#sidebar{
  background-color: #2A3039;
  padding: 24px;
}

#sidebar>div{
  margin-bottom: 34px;
  padding: 14px 14px;
}

#sidebar .header{
  display: flex;
  align-items: center;
  background-color: #1E242C;
  margin:-24px -24px 24px -24px;
  padding: 24px;
}

#sidebar img.skipper_pict{
  width: 80px;
  height: 80px;
  border-radius: 50px;
  border: 6px solid;
  margin-right: 24px;
}

#sidebar .header h1{
  font-family: 'Montserrat', serif;
  font-size: 26px;
}

#sidebar h2{
  font-size: 14px;
  margin-bottom: 14px;
  font-family: 'Montserrat', serif;
}

#sidebar .header h2{
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #4F5B66;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  color:white
}

.bloc{
  background-color: #1E242C;
  border-radius: 20px;
  position: relative;
}

.bloc h2{
  text-align: center;
}

.grey{
  color: #728494;
}

.metrics{
  display: flex;
  justify-content: space-around;
  font-weight: 600;
}

div.metrics>div>div:first-child, .chronodata>div>div:first-child, .txtheader{
  text-transform: uppercase;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-size: 11px;
  color: #728494;
  text-align: center;
}

.txtheader{
  color:white;
}


div.metrics>div>div:last-child, .chronodata>div>div:last-child{
  font-family: 'Montserrat', serif;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}


#speedChart{
  width: 100%;
  height: 150px;
}

.withicon>span{
 font-size: 15px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.withicon>span>span:first-child{
  padding-top: 6px;
  font-size: 11px;
  display: inline-block;
 }

.icondata{
  height: 21px;
  width: 21px;
  margin: 6px auto;
  padding: 0;
  transition-property: transform color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.icondata>svg{

  transition-property: transform color;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.icondata>svg>path, .icondata>svg>g>path{
  fill: #01A7FA;
}

#sidebar  .tableOverflow{
  max-height: 300px;
  overflow: auto;
}

#sidebar  .gradient{
  position: absolute;
  bottom: 14px;
  left:0;
  right:0;
  height: 24px;
  background: linear-gradient(180deg, rgba(30,36,44,0) 0%, rgba(30,36,44,1) 100%);
}

#sidebar table, #Ranking{
  width: 100%;
  text-align: center;
  padding-bottom: 24px;
}

#sidebar table th, #Ranking th{
  font-size: 16px;
  border-bottom: 2px solid #363F47;
  color:#728494;
  padding: 10px 0;
}

#sidebar table td, #Ranking td{
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #363F47;
}

#sidebar table tr:last-child td, #Ranking tr:last-child td{
  border-bottom: 0px solid #363F47;
}

#Ranking td, #Ranking th{
  padding: 10px;
}

#Ranking th{
  font-size: 13px;
  padding: 10px 20px 10px 10px;
  color:white;
}

#Ranking{
  width: 100%;
}

#Ranking tr:nth-child(even) {
  background-color:#363F47;
}

#Ranking td:nth-child(3), #Ranking th:nth-child(3){
  text-align: left;
}
#Ranking td:nth-child(3){
  min-width: 270px;
}

#skp{
  display: flex;
  align-items: center;
}

#skp img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid;
  margin-right: 14px;
}

#skp>div>div:first-child{
  font-family: 'Montserrat', serif;
  font-weight: bold;
}

#skp>div>div:last-child{
  font-family: 'Montserrat', serif;
  color: #728494;
  font-size: 12px;
}

.boat-type{
  background-color: #363F47;
  border-radius: 10px;
  display: inline-block;
  font-size: 11px;
  margin-left: 10px;
  color:white;
  padding: 0 6px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.foiler {
  background-color: #01A7FA;
}

.derive {
  background-color: #dc1820;
}

.blue{
  color:#01A7FA;
}

#close{
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  border-radius: 50px;
  color:#4F5B66;
  position: absolute;
  font-size: 26px;
  right: 14px;
  top:14px;
}

#close:hover{
  color:white;
}

.black-container{
  background-color: #1E242C;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 24px 12px;
}

.chronodata{
  display: flex;
  justify-content: space-around;
}

.chronodata>div{
  min-width: 150px;
  text-align: center;
}

div.leaflet-control-layers-overlays > label:nth-child(4){
  border-top: 1px solid #ddd;
  margin: 10px -10px 0 -6px;
  padding: 6px 6px 0 6px;
}

.responsivetable{
  overflow: auto;
}


.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  background-position: center right;
  background-repeat: no-repeat;
  cursor: pointer;
  white-space: normal;
  padding: 4px 20px 4px 4px
}

.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  border-bottom: #fff 2px solid
}

.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  border-bottom: #fff 2px solid
}

#data_postion{
  font-size: 47px;
}


@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

